.kusamaStyle {
  --highlight-bg: rgb(0, 0, 0);
}

.moonriverStyle {
  --highlight-bg: rgb(14, 19, 46);
}

.polkadotStyle {
  --highlight-bg: rgb(230, 0, 122);
}

.statemintStyle{
  --highlight-bg: rgb(134, 230, 42);
}
